@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}

.bienvenida {
  display: flex;
  background-color:#FFABAB;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 70px;
  height: 300px;
}

.contenedor{
    background-color: #D9ABFF;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 10px;
    padding: 10px;
}
.style_carta {
    background-color: #FCE4EC;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    color: #F8BBD0;
    border: 2px solid #FFCDD2;
    height: 200px;
    border-radius: 6px;
}

.style_carta:hover{
    transform: rotateY(180deg);
  }

.logo {
    width: 30px;
    height: 30px;
}

  .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #FCE4EC;
    color: #F8BBD0;
  }
  
  .titulo{
    background-color: #D9ABFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New';
    height: 100px;
  }
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: white;
    color: #F8BBD0;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront h1, .theback h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront p, .theback p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }

.logo2 {
    width: 40px;
    height: 30px;
}

.descripcion {
    display: flex;
    background-color:#DDFFAB;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Courier New';
    font-size: 20px;
    height: 380px;
}

.accessibility-animation {
  display: inline-block;
}
.accessibility-animation .middle-letters, .accessibility-animation .end-letters, .accessibility-animation .alternate-middle-letters {
  display: inline-block;
  overflow: hidden;
  height: 1.5em;
}
.accessibility-animation .end-letters {
  color: #632C65;
}
.accessibility-animation .middle-letters, .accessibility-animation .alternate-middle-letters {
  color: #4B384C;
}
.accessibility-animation .middle-letters {
  animation: accessibility-middle-letters-animation 5s infinite;
  animation-delay: -2s;
  max-width: 0;
}
.accessibility-animation .alternate-middle-letters {
  animation: accessibility-alternate-middle-letters-animation 5s infinite;
  animation-delay: -2s;
  max-width: 0;
}

@keyframes accessibility-middle-letters-animation {
  0% {
    max-width: 500px;
  }
  25% {
    max-width: 0;
  }
  75% {
    max-width: 0;
  }
  90% {
    max-width: 500px;
  }
  100% {
    max-width: 500px;
  }
}
@keyframes accessibility-alternate-middle-letters-animation {
  0% {
    max-width: 0;
  }
  25% {
    max-width: 0;
  }
  50% {
    max-width: 500px;
  }
  75% {
    max-width: 0;
  }
  100% {
    max-width: 0;
  }
}


.redes {
    display: inline-block;
    position:absolute;
    width: 150px;
    top: 650px;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  
  /* Icons */
  
  .link {
    color:#fff;
    background: #ABE4FF;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
  .link:hover {
    background: rgb(198, 231, 247);
  }
  
  /* pop-up text */
  
  .link .sp {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
 
  
  .sp:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
  .link:hover .sp {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }
  
  /* font awesome icons */
  
